PORT=5001
MONGO_URI=mongodb+srv://atharvamagar2_db_user:ibAAVRbKeyz83KJy@cluster1.karvkrv.mongodb.net/employee_management?appName=Cluster1
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRY=1h
CLIENT_URL=http://localhost:3000
NODE_ENV=development
